
.hamburger-menu {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: rgb(35, 71, 126);
}

.tab-links::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px; 
    background-color: #cc2217;
    bottom: -8px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.7s;
}

.tab-links.active-link::after {
    width: 100%;
    transform: scaleX(1);
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }
}